@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 0% 13.3%;
    --foreground: 0 0% 98%;
    --card: 240 0% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 240 0% 13.3%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48.1% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 187 100% 41.6%;
    --accent-foreground: 0 0% 13.3%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 0% 20%;
    --input: 240 0% 20%;
    --ring: 231 48.1% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 187 100% 42%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
